body{
  background-color: #5d78ae;
}

.subtitle{
  font-size: 3rem;
  color: whitesmoke;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px 10%;
}

.product {
  width: 200px;
  border: none;
  background-color: #282c34;
  border-radius: 25px;
  color: whitesmoke;
  padding: 10px;
  margin: 25px 0;
}

.title {
}

.title p {
  max-height: 5em;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
  padding: 20px 0;
  background-color: #282c34;
  padding: 15px 10%;
}
.logo {
  color:whitesmoke ;
}

input {
  width: 300px;
  height: 40px;
  font-size: 1rem;
  padding: 5%;
  border-style: none;
  border-radius: 20px;
}

.productImage {
  border-radius: 20px;
  object-fit: cover;
}


.searchBar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.predict {
  
  position: absolute;
  overflow: hidden;
  top:100%;
  width: 100%;
  
}

.predict::-webkit-scrollbar{
  display: none;
}

.autocomplete{
  padding-left: 10px;
  width: 200%;
  height: auto;

  background-color: #282c34;
  color: white;
  overflow-y: auto;
  box-shadow: 0 5px 15px black;
}

.autocomplete:hover {
  background-color: white;
  color: #282c34;
  cursor: pointer;
  padding: 1px 10px;
}

.footer{
  height: 20vh;
  color:whitesmoke;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
