.App {
  text-align: center;
  padding: 0 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  width: 200px;
  border: none;
  background-color: #282c34;
  border-radius: 25px;
  color: white;
  padding: 10px;
  margin: 25px 0;

}

.title {

  
}

.title p {
  max-height: 5em;
  overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 20px 0;
}
.logo{
  width: 200px;
  height: 50px;
  display: contents;
}

input {
  width: 50%;
  height: 50%;
  
}

.productImage {
  border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
